<mat-card class="max-w-md mx-auto card !shadow-card">
  <div class="card-body">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb-8">
        <h1 class="text-3xl font-semibold text-primary">Login</h1>
        <p class="text-gray-500 text-sm mt-2">Welcome back! Sign in to continue.</p>
      </div>
      <mat-form-field appearance="outline" class="w-full mb-2">
        <mat-label>Email address</mat-label>
        <input formControlName="email" type="email" placeholder="name@example.com" matInput />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full mb-4">
        <mat-label>Password</mat-label>
        <input formControlName="password" type="password" placeholder="Password" matInput />
      </mat-form-field>
      <button mat-flat-button type="submit" class="w-full !py-6">Sign in</button>
    </form>
  </div>
</mat-card>
